// Body
$body-bg: #f2f6fc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #06794f;
$secondary: #0fa28b;
$success: #3ac97c;
$danger: #d73f30;
$warning: #ebb20c;
$info: #9d46cd;
$light: light;
$dark: dark;